@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

@{
    double orderTotal = new int();
    orderTotal = Model.LineItems.Sum(li => li.Total);
}

<h1>Order Details</h1>
<br />
<br />

<div>
    <h2>
        Order #@Model.Order.OrderId
    </h2>
    <br />
    <h5>
        Total: $@orderTotal
    </h5>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                # in Order
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LineItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
</table>
