@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>
<h3> Which report would you like to run?</h3>

<ul>
    <li>
        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="MultipleOrders">Multiple Orders</a>
    </li>
    <li>
        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="AbandonedProducts">Abandoned Product Types</a>
    </li>
</ul>

